<div [class.liked]="isLiked"> <!-- class binding -->

    <!-- style binding -->
    <h1 [style.font-weight]="isLiked ? 'bold' : 'normal' ">My name is {{foodItem.name}}</h1>

    <!-- Interpolation -->
    <p *ngIf="showDescription" [ngClass]="setFoodDescriptionCss()">Description: {{foodItem.description}}</p>
    <button (click)="showDescription = !showDescription">Show/Hide </button> <br>

    <!-- Property binding -->
    <p [ngStyle]="setFoodDescriptionControl()" [innerHtml] = "foodItem.description"></p>

    <!-- Event Bindings interpolation -->
    <button (click)="onLikeButtonPressed($event)">Like</button> <br>

    <!-- <div> -->
        <!-- Two way binding -->
    <!--   <p>Enter a new name to update this food</p> -->
    <!--  <input [(ngModel)] = "foodItem.name"/>-->
    <!-- </div>  -->

    <div class="nutritionalFactsContainer" style="background-color: #efefef">
        <div>
            <p>Display some nutritional facts about {{foodItem.name}}(s) with serving size {{foodItem.facts}}</p>
            <button (click)="nutritionalFacts = 'carbs' ">Carbohydrates</button>
            <button (click)="nutritionalFacts = 'protein' ">Protein</button>
            <button (click)="nutritionalFacts = 'fat' ">Fat</button>
        </div>

        <div [ngSwitch] = "nutritionalFacts">
            <p *ngSwitchCase = "'protein' ">{{foodItem.facts.protein}} of protein</p>
            <p *ngSwitchCase = "'fat' ">{{foodItem.facts.fat}} of fat</p>
            <p *ngSwitchCase = "'carbs' ">{{foodItem.facts.carbs}} of carbs</p>
            <p *ngSwitchDefault>{{foodItem.facts.calories}} calories</p>
        </div>
    </div>
    <hr>
</div>
