h1 {
    color: purple;
}

.liked {
    background-color: yellow;
}

.featured {
    font-size:50px;
}

.italic {
    font-style: italic;
}

.caps {
    font-variant: small-caps;
}

button {
    margin: 5px;
}
