<div class="container">
  <div class="row">
    <h1> List of Foods</h1>
    <!--
      <app-food-item *ngFor="let food of fdList" [foodItem]="food" (likeChanged)="appLikeChanged($event)"></app-food-item>

      <button (click)="reloadFoods()" class="btn btn-primary">Reload foods</button>
      <ul>
        <li *ngFor="let food of fdList; let i = index; trackBy:food?.name;">
          <p> Food number:{{i + 1}} {{food.name}}</p>
        </li>
      </ul>
    -->
  </div>
  <div class="row">
    <ul>
      <li class="listItem" *ngFor="let food of fdList">
        <p class=""><strong> Food name:</strong> {{food.name}}</p>
        <p *ngIf="food.description"><strong>Description:</strong> {{food.description}}</p>
        <button class="btn btn-success" (click)="onItemClicked(food)">More</button>
      </li>
    </ul>
  </div>

  <div class="row col-6">
    <label for="inputSearch">Enter a food name to look for: </label>
    <input type="text" id="inputSearch" class="form-control" #foodSearchBox id="food-search-box" (keyup)="searchForFood(foodSearchBox.value)">
    <label>Results:</label>

    <ul *ngFor='let r of searchResults'>
    <li>{{ r.name}}</li>
    </ul>
  </div>


  <!--
      <h2>Save Navigation Operator</h2>
      <p> First food : {{ foodSourceArray[0].name}}</p>
      <p> 5th food : {{ foodSourceArray[4]?.name}}</p>
      -->

  <!--
      <h2>JSON Pipe</h2>
      <p>Apple with no pipe {{foodSourceArray[0]}}</p>
      <p>Apple with no pipe {{foodSourceArray[0] | json}}</p>
      -->
</div>
